"*":
  "atom-clock":
    dateFormat: "Y.M.D-H:mm"
  "tree-view":
    "hideVcsIgnoredFiles": false
  core:
    disabledPackages: []
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  "git-diff":
    showIconsInEditorGutter: true
  minimap:
    scrollAnimation: true
  welcome:
    showOnStartup: false
