{
  "presets": [
    ["env", {"modules": false}],
    "latest",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-exponentiation-operator",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {"modules": false}],
        "latest",
        "flow"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-es3-member-expression-literals",
        "transform-es3-property-literals",
        "transform-exponentiation-operator",
        "transform-flow-strip-types",
        "transform-object-rest-spread"
      ]
    }
  }
}
