- var opts = {ie9: true, prefetchUrl: ['http://<%- projectDomain %>/']}

mixin prefetch_loop (rel, urls)
    - for (var i = 0; i < urls.length; i++)
        link(rel=rel, href=urls[i])

meta(http-equiv='x-dns-prefetch-control', content='off')

if opts.ie9
    +ie('if IE 9]', '[endif')
        +prefetch_loop('dns-prefetch', opts.prefetchUrl)
+ie('if gt IE 9]><!--', '--<![endif')
    +prefetch_loop('prefetch', opts.prefetchUrl)
